In [2]:
DIAL_CODES = [
    (86, 'China'),
    (91, 'India'),
    (1, 'United States'),
    (62, 'Indonesia'),
    (55, 'Brazil'),
    (92, 'Pakistan'),
    (880, 'Bangladesh'),
    (234, 'Niegeria'),
    (7, 'Russia'),
    (81, 'Japan'),
]

d1 = dict(DIAL_CODES)
print('d1:', d1.keys())

d1: dict_keys([86, 91, 1, 62, 55, 92, 880, 234, 7, 81])

In [3]:
d2 = dict(sorted(DIAL_CODES))
print('d2:', d2.keys())

d2: dict_keys([1, 7, 55, 62, 81, 86, 91, 92, 234, 880])

In [4]:
d3 = dict(sorted(DIAL_CODES, key=lambda x:x[1]))
print('d3:', d3.keys())

d3: dict_keys([880, 55, 86, 91, 62, 81, 234, 92, 7, 1])

In [6]:
d1 == d2

True

In [7]:
d2 == d3

True