In [2]:
lax_coordinates = (33.94, -118.40)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]
for passport in sorted(traveler_ids):
    print('%s/%s' % passport)

BRA/CE342567
ESP/XDA205856
USA/31195855

In [3]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [4]:
latitude, longitude = lax_coordinates #tuple unpacking
latitude

33.94

In [5]:
longitude

-118.4

In [11]:
a = 'hello'
b = 'world'
b, a = a, b
a, b

('world', 'hello')

In [12]:
divmod(20, 8)

(2, 4)

In [14]:
t = (20, 8)
divmod(*t)

(2, 4)

In [15]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

In [18]:
import os
_, filename = os.path.split('/home/lucas/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [21]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [22]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [23]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

In [24]:
a, *body, c, d = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [25]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)